{% extends 'layouts/base.html' %}
{% load static custom_filters %}

{% block content %}

<div class="az-content-body pd-lg-l-40 d-flex flex-column">
    <div class="az-content-breadcrumb">
        <span>Inventory</span>
        <span>Warehouse</span>
        <span>Manage Warehouses</span>
    </div>
    <h2 class="az-content-title">Manage Warehouses</h2>


        <div class="az-dashboard-nav"> 
            <nav class="nav">
                {{ navtab|safe }}
            </nav>

            <nav class="nav">
                {{ navlink|safe }}
                <!-- <a class="nav-link" href="#"><i class="far fa-file-pdf"></i> Export to PDF</a>
                <a class="nav-link" href="#"><i class="far fa-envelope"></i>Send to Email</a> -->
                <a class="nav-link" href="#"><i class="fas fa-ellipsis-h"></i></a> 
            </nav> 
        </div>

        <!-- <div class="az-content-label mg-b-5">Form Input &amp; Textarea</div>
        <p class="mg-b-20">A basic form control input and textarea with disabled and readonly mode.</p> -->

        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1">
                <div class="row row-sm">
                    <div class="col-lg ">
                        <!-- <div class="card-header d-flex align-items-center">
                            <div>
                                <form method="GET" action="">
                                    <div class="btn-group ml-auto">
                                        <input type="text" class="form-control" name="search" value="{{ search_query }}" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="btn-group ml-auto">
                                <button class="btn btn-info">Save</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </div> -->
                        
                        <div class="az-dashboard-one-title">
                            <div>
                                <form method="GET" action="">
                                    <div class="btn-group ml-auto">
                                        <input type="text" class="form-control" name="search" value="{{ search_query }}" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>

                            <form method="POST">
                            {% csrf_token %}
                            <div class="az-content-header-right">
                                <button type="submit" name="action" value="save" class="btn btn-info btn-with-icon {% if disable %}disabled{% endif %}"><i class="typcn typcn-input-checked"></i> Save</button>
                            </div>
                        </div>
                            {{ form.as_p }}
                        </form>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" >
                <div class="row row-sm">
                    <div class="col-lg ">
                        <div class="table-responsive">
                            <table class="table table-striped mg-b-0">
                                <thead>
                                    <tr>
                                    {% for field in form %}
                                        <th>{{ field.label }}</th>
                                    {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ListView -->
                                    {% for item in items %}
                                    <tr>
                                        {% for field in form %}
                                            <td>{{ item|get_field_value:field.name|safe }}</td>
                                        {% endfor %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <!-- End ListView -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}