{% extends 'layouts/base.html' %}
{% load static custom_filters %}

{% block content %}

<div class="az-content-body pd-lg-l-40 d-flex flex-column">
    <div class="az-content-breadcrumb">
        <span>Inventory</span>
        <span>Warehouse</span>
        <span>Manage Warehouses</span>
    </div>
    <h2 class="az-content-title">Manage Warehouses</h2>

        {% csrf_token %}
        <div class="az-dashboard-nav"> 
            <nav class="nav">
                <a class="nav-link active" data-toggle="tab" href="#tab1">Warehouses</a>
                <a class="nav-link" data-toggle="tab" href="#tab2">Warehouses</a>
            </nav>

            <nav class="nav">
                {{ navlink|safe }}
                <!-- <a class="nav-link" href="#"><i class="far fa-file-pdf"></i> Export to PDF</a>
                <a class="nav-link" href="#"><i class="far fa-envelope"></i>Send to Email</a> -->
                <a class="nav-link" href="#"><i class="fas fa-ellipsis-h"></i></a> 
            </nav> 
        </div>

        <!-- <div class="az-content-label mg-b-5">Form Input &amp; Textarea</div>
        <p class="mg-b-20">A basic form control input and textarea with disabled and readonly mode.</p> -->

        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1" >
                <div class="row row-sm">
                    <div class="col-lg ">
                        <div class="card card-dashboard-twelve">
                            <div class="card-header d-flex align-items-center">
                                <div>
                                    <div class="btn-group" role="group" aria-label="Basic example">
               
              </div>
                                </div>
                                <!-- <div class="btn-group ml-auto">
                                    <button class="btn btn-info">Save</button>
                                    <button class="btn btn-light">Cancel</button>
                                </div> -->
                                <form method="GET" action="">
                                <div class="btn-group ml-auto">
                                    <input type="text" class="form-control" name="search" value="{{ search_query }}" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                            </div>
                            <div class="card-body">
                                {{ form.as_p }}
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" >
                <div class="row row-sm">
                    <div class="col-lg ">
                        <div class="card card-dashboard-twelve">
                            <div class="card-header d-flex align-items-center">
                                <div>
                                    <!-- <h6 class="card-title">Website Audience Metrics</h6>
                                    <p class="card-text">Audience to which the users belonged while on the current date range.</p> -->
                                    
                                </div>
                                <!-- <div class="btn-group ml-auto">
                                    <button class="btn btn-info">Save</button>
                                    <button class="btn btn-light">Cancel</button>
                                </div> -->
                                <div class="btn-group ml-auto">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped mg-b-0">
                                    <thead>
                                        <tr>
                                        {% for field in form %}
                                            <th>{{ field.label }}</th>
                                        {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ListView -->
                                        {% for item in items %}
                                        <tr>
                                            {% for field in form %}
                                                <td>{{ item|get_field_value:field.name|safe }}</td>
                                            {% endfor %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <!-- End ListView -->
                                    </tbody>
                                    </table>
                                </div>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div><!-- col -->
                </div>
            </div>
        </div>
</div>

{% endblock content %}