{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="az-content-body pd-lg-l-40 d-flex flex-column">
    <div class="az-content-breadcrumb">
        <span>Components</span>
        <span>Forms</span>
        <span>Form Elements</span>
    </div>
    <h2 class="az-content-title">Form Elements</h2>

    <div class="az-content-label mg-b-5">Form Input &amp; Textarea</div>
    <p class="mg-b-20">A basic form control input and textarea with disabled and readonly mode.</p>

    <div class="row row-sm">
        <div class="col-lg ">
            <div class="card card-dashboard-twelve">
                
                <div class="card-header d-flex align-items-center">
                    <div>
                        <!-- <h6 class="card-title">Website Audience Metrics</h6>
                        <p class="card-text">Audience to which the users belonged while on the current date range.</p> -->
                    </div>
                    <div class="btn-group ml-auto">
                        <button class="btn btn-info">Save</button>
                        <button class="btn btn-light">Cancel</button>
                    </div> 
                </div>
                <div class="card-body">
                    <!-- <div class="card-body-top">
                        <div>
                        <label class="mg-b-0">Users</label>
                        <h2>13,956</h2>
                        </div>
                        <div>
                        <label class="mg-b-0">Bounce Rate</label>
                        <h2>33.50%</h2>
                        </div>
                        <div>
                        <label class="mg-b-0">Page Views</label>
                        <h2>83,123</h2>
                        </div>
                        <div>
                        <label class="mg-b-0">Sessions</label>
                        <h2>16,869</h2>
                    </div> -->
                    {{ form.as_p }}
                  </div><!-- card-body-top -->
                </div><!-- card-body -->
              </div><!-- card -->
            
        </div><!-- col -->
    </div>
</div>

{% endblock content %}